/* a:link {
  color: green;
}

a:visited {
  color: red;
}

a:hover {
  color: orange;
  font-size: 32px;
}

a:focus {
  color: orange;
  font-size: 32px;
}

a:active {
  color: pink;
} */
.github-link1:hover {
  color: greenyellow;
}
.github-link1:link {
  color: red;
}
.github-link1:visited {
  color: red;
}
