/* Your code goes below here */

/*
  Examples of position selectors
*/

p em {
  font-size: 28px;
}

p strong {
  font-size: 32px;
}

ul strong {
  color: red;
}
//this one wins!
ul li strong {
  color: green;
}
